#navTitle {
    width: 100%;
    text-align: center;
}
.container {
    width: 95%;
    margin: auto;
    max-width: 775px;
}
.content-block-title {
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    font-size: larger;
    background-color: #2196f3;
    color: white;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

#cardDetails {
    margin: auto;
    border-radius: 5px;
    padding: 2%;
}

.card-content {
    margin-left: 2%;
} 
.evenBtn {
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    background-color: #2196f3;
    color: #fff !important;
    font-size: 115% !important;
    margin-bottom: 2%;
}
.oddBtn {
    border: 2px solid #2196f3;
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    color: #2196f3 !important;
    font-size: 115% !important;
    margin-bottom: 2%;
}

.moveImage{
    width: 90%;
    height: 45px;
    margin: auto;
}
.bigMove{
    margin: auto;
}

.card-footer{
    max-height: 90px;
}

.ansBtn.default:hover{
    background-color: lightblue;
    font-weight: bold;
}

#greetingDiv {
    width: 85%;
    margin: auto;
    margin-top: 6%;
    box-shadow: 0 1px 3px rgb(33, 150, 243), 0 1px 2px rgb(33, 150, 243);
}

#gameZone {
    max-width: 95%;
    margin-top: 5%;
}

#gameHolder {
    margin-left: unset;
    box-shadow: 2px 4px 2px #1475c2;
    border-radius: 5px;
    border: 1px solid #acd6f8;
}

.notification.modal-in{
    display: block;
    top: 10%;
}

.md .notification-title {
    font-size: 120%;
    line-height: 1;
    color: #2196f3;
    font-style: oblique;
    font-weight: bold;
}
.toast-success{
    width: 100% !important;
    margin: auto !important;
    left: .25% !important;
    background-color: #31c731c2 !important;
}

.toast-info {
    width: 100% !important;
    margin: auto !important;
    left: .25% !important;
    background-color: #2196f3 !important;
    color: white !important;
    
}

.toast-error, .toast-warning {
    width: 100% !important;
    margin: auto !important;
    left: .25% !important;
    background-color: #ab312a !important;
}

.incorrect {
    background-color: #ef514887;
    border-color: #f11307;
    color: #f11307 !important;
    box-shadow: 2.5px 5px 4px #de6d5e;
}

.correct {
    background-color: #14de2a8c;
    border-color: #299829;
    color: #299829 !important;
    box-shadow: 2.5px 5px 4px #5b8660;
}

.unselected {
    opacity: .2;
}

#toast-container {
    top: 20% !important;
    width: 100%;
    margin: auto;
}

.myBtn{
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    background-color: #2196f3;
    color: #fff !important;
    box-shadow: 1px 3px 4px #20384a;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    min-width: 75%;
}

.w80{
    width: 80%;
}

.w20{
    height: 100%;
    width: 20%;
}

#gZMainCard{
    max-width: 1175px;
    margin: auto;
}

.gZHeader{
    color: white;
    text-align: center;
    background-color: #2196f3;
    border: 1px solid white;
}

#p1Zone, #p2Zone {
    box-shadow: unset;
}

#resultHeader{
    text-align: center;
    color: #2196f3;
}

.gZTitle, #resultHeader {
    width: 100%;
    padding-bottom: unset;
    margin: unset;
    font-weight: bold;
}

.gZContent {
    padding: unset;
    margin: unset;
    border: 2px solid #2196f3;
    border-radius: 2px;
}

.gZContentTop{
    height: 150px;
}

.gZContentBottom{
    height: 50px;
}
.gRContent{
    height: 200px;
    border-top: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
}

.gRImage{
    width: 98%;
    margin: auto;
    height: 180px;
    margin-top: 10px;
}

.gZResult {
    background-color: unset;
    border: none;
    box-shadow: unset !important;
}

.gZFooter {
    background-color: #2196f3;
    border: 1px solid white;
    height: 55px;
}

.gZFooter .row{
    height: 98%;
    width: 100%;
}

.colWL{
    height: 100%;
} 

.spWL, .spScore{    
    text-align: center;
    color: #2196f3;
    font-weight: bold;
    text-align: center;
    width: 75%;
    margin: auto;    
}
.spScore{
    font-size: 125%;
    padding: 1%;
}

.spWL{
    border-bottom: 1px solid;
}

.f7-icons {
    color: #2196f3;
}